//====================================================================================================
.footer {
  background-color: $bgLightColor;
  color: $whiteColor;
  // .footer__container
  &__container {
  }
  // .footer__content
  &__content {
    @include adaptiveValue("padding-top", 52, 20);
    @include adaptiveValue("padding-bottom", 100, 20);
  }
  // .footer__subscribe
  &__subscribe {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 52, 20);
    }
  }
  // .footer__body
  &__body {
    display: grid;
    grid-template-columns: auto auto;
    gap: toRem(32);
    justify-content: space-between;
    align-items: start;
    @media screen and (max-width: $mobile) {
      grid-template-columns: auto;
    }
  }
  // .footer__info
  &__info {
    display: grid;
    @include adaptiveValue("gap", 32, 20);
    max-width: toRem(460);
  }
  // .footer__logo
  &__logo {
  }
  // .footer__text
  &__text {
  }
  // .footer__social
  &__social {
  }
  // .footer__menu
  &__menu {
  }
  // .footer__copy
  &__copy {
    border-top: toRem(1) solid rgba(255, 255, 255, 0.3);
    padding-top: toRem(32);
    padding-bottom: toRem(32);
    text-align: center;
  }
}
.subscribe {
  border-radius: toRem(24);
  background-color: #4ac9ff;
  padding: toRem(24);
  display: grid;
  grid-template-columns: auto toRem(516);
  gap: toRem(24);
  @media screen and (max-width: $tablet) {
    grid-template-columns: auto;
  }
  @media screen and (max-width: $mobileSmall) {
    margin: 0 toRem(-15);
    border-radius: 0;
    padding: toRem(12);
  }

  // .subscribe__body
  &__body {
  }
  // .subscribe__title
  &__title {
    font-size: toRem(24);
    line-height: 1.33;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }
  // .subscribe__text
  &__text {
  }
  // .subscribe__form
  &__form {
    border-radius: toRem(60);
    padding: toRem(12);
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    position: relative;
    @media screen and (max-width: $mobileSmall) {
      flex-direction: column;
      gap: toRem(24);
      border-radius: toRem(12);
      overflow: hidden;
    }
    .form__error {
      background-color: $bgColor;
      color: $whiteColor;
      border-radius: toRem(12);
      padding: toRem(12);
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(10%, -50%);
      font-size: toRem(12);
    }
  }
  // .subscribe__input
  &__input {
    flex: 1 1 auto;
    padding: toRem(12);
    .form__error {
      color: red;
      &::placeholder {
        color: red;
      }
    }
  }
  // .subscribe__button
  &__button {
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  column-gap: toRem(24);
  row-gap: toRem(8);
  // .social__item
  &__item {
  }
  // .social__link
  &__link {
  }
}
.menu-footer {
  // .menu-footer__spollers
  &__spollers {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 130, 20);
    @media screen and (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .menu-footer__block
  &__block {
    min-width: toRem(130);
  }
  // .menu-footer__title
  &__title {
    position: relative;
    list-style: none;
    padding: toRem(12) toRem(36) toRem(12) toRem(12);
    font-size: toRem(24);
    line-height: 1.33;
    font-weight: 700;

    &::marker {
      display: none;
    }
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      @media screen and (max-width: $mobileSmall) {
        right: 10px;
      }
      top: 50%;
      background-color: $whiteColor;
      height: 2px;
      width: 10px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }
    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }
    .menu-footer__block[open] & {
      &::before {
        transform: translateX(-75%) rotate(-40deg);
      }
      &::after {
        transform: rotate(40deg);
      }
    }
  }
  // .menu-footer__list
  &__list {
    padding: toRem(12) toRem(24) toRem(12) toRem(12);
    display: grid;
    gap: toRem(12);
  }
  // .menu-footer__item
  &__item {
  }
  // .menu-footer__link
  &__link {
    font-size: toRem(20);
    line-height: 1.6;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//====================================================================================================
